<%- contentFor('title') %>
Dashboard

<%- contentFor('body') %>
<div style="text-align: center; font-size: 40pt; font-weight: 150; padding-bottom:10pt">
	FollowIonis
</div>
<div class="row">
	<!-- event list -->
	<div class="col-md-6" style="padding-left:20pt;">
		<div class="container">
			<div class="row">
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-12 ]">
					<ul class="event-list">
						<% events.forEach(function (event) { %>
							<li>
								<% var date_start = JSON.stringify(event.start_time) %>
								<% var date_end = JSON.stringify(event.end_time) %>
								<% var month = ['Janv', 'Févr', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'] %>
								<time datetime="<%= date_start.substr(1, 10) %>">
									<span class="day"><%= date_start.substr(9, 2) %></span>
									<span class="month"><%= month[parseInt(date_start.substr(6, 2)) - 1] %></span>
									<span class="year"><%= date_start.substr(1, 4) %></span>
									<span class="time"><%= date_start.substr(12, 7) %></span>
								</time>
								<img alt="<%= event.name %>" src="<%= event.url_picture %>"/>
								<div class="info">
									<h2 class="title"><%= event.name %></h2>
									<p class="desc">Début à <%= date_start.substr(12, 5) %> - 
										<% if (date_end != null) { %>
											   Fin le <%= date_end.substr(9, 2) %> <%= month[parseInt(date_end.substr(6, 2)) - 1] %> <%= date_end.substr(1, 4) %> à <%= date_end.substr(12, 5) %>
										<% } %>
									</p>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- feed list -->
	<div class="col-md-6" style="padding-right:20pt;">
		<div class="container">
			<div class="panel-body">
				<div class="ibox-content">
					<div class="feed-activity-list">
                        <% feed.forEach(function (unit) { %>
						<div class="feed-element">
							<a href="#" class="pull-left">
								<img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png">
							</a>
							
							<div class="media-body ">
                                <% var date_created = unit.created_time.substr(0, 10) %>
                                <% var time_created = unit.created_time.substr(11, 5) %>
                                <% var date_feed = new Date(date_created + " " + time_created) %>
								<% var current_date = new Date() %>
								<% var diff = current_date - date_feed %>
								<small class="pull-right"><%= Math.round(diff / (1000 * 60 * 60 * 24)) %> ago</small>
								<strong><%= unit.story %></strong> <br>
								<small class="text-muted"><%= time_created %> - <%= date_created %></small>
								<div class="well">
									<%= unit.message  %>
								</div>
							</div>
						</div>
                        <% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
