<%- contentFor('title') %>
Dashboard

<%- contentFor('body') %>
<div style="text-align: center; font-size: 40pt; font-weight: 150; padding-bottom:10pt">
	FollowIonis
</div>
<div class="row">
	<!-- event list -->
	<div class="col-md-6" style="padding-left:20pt;">
		<div class="container">
			<div class="row">
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-12 ]">
					<ul class="event-list">
						<% events.forEach(function (event) { %>
							<li>
								<% const month = ["Jan", "Fév", "Mars", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"] %>
								<time datetime="<%= event.start_time.toJSON() %>">
									<span class="day"><%= event.start_time.getDate() %></span>
									<span class="month"><%= month[event.start_time.getMonth()] %></span>
									<span class="year"><%= event.start_time.getFullYear() %></span>
									<span class="time">ALL DAY</span>
								</time>
								<img alt="<%= event.name %>" src="<%= event.image_url %>"/>
								<div class="info">
									<% let date_start = event.start_time.toString() %>
									<h2 class="title"><%= event.name %></h2>
									<p class="desc">Début à <%= date_start.substr(15, 6) %>
										<% if (event.end_time != null) { %>
											<% let date_end = event.end_time.toString() %>
												jusqu'à <%= date_end.substr(15, 6) %>
										<% } %>
									</p>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- feed list -->
	<div class="col-md-6" style="padding-right:20pt;">
		<div class="container">
			<div class="panel-body">
				<div class="ibox-content">
					<div class="feed-activity-list">
                        <% feeds.forEach(function (feed) { %>
						<div class="feed-element">
							<a href="#" class="pull-left">
								<% associations.forEach(function (association) { %>
									<% if (association._id.toHexString() === feed.id_association) { %>
										<img alt="image" class="img-circle" src="<%= association.image_url %>">
									<% } %>
								<% }) %>
							</a>							
							<div class="media-body ">
								<small class="pull-right">
									<!-- put number of day spent -->
								</small>
								
								<% if (feed.story) { %>
									<strong><%= feed.story %></strong>
								<% } %>
								<br>
								<small class="text-muted">
									<% const month = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"] %>
									<% let date = feed.created_time.toString() %>
									Le <%= feed.created_time.getDay() %> <%= month[feed.created_time.getMonth()] %> <%= feed.created_time.getFullYear() %>
									à <%= date.substr(15, 6) %>
								</small>
								<div class="well">
									<%= feed.message  %>
								</div>
							</div>
						</div>
                        <% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
