<%- contentFor('title') %>
Dashboard

<%- contentFor('body') %>
<div style="text-align: center; font-size: 40pt; font-weight: 150; padding-bottom:10pt">
	FollowIonis
</div>
<div class="row">
	<!-- event list -->
	<div class="col-md-6" style="padding-left:20pt;">
		<div class="container">
			<div class="row">
				<div class="[ col-xs-12 col-sm-offset-2 col-sm-12 ]">
					<ul class="event-list">
						<% events.forEach(function (event) { %>
							<li>
								<% var month = ["Jan", "Fév", "Mars", "Avr", "Mai", "Juin", "Juil", "Août", "Sept", "Oct", "Nov", "Déc"] %>
								<time datetime="<%= event.start_time.toJSON() %>">
									<span class="day"><%= event.start_time.getDate() %></span>
									<span class="month"><%= month[event.start_time.getMonth()] %></span>
									<span class="year"><%= event.start_time.getFullYear() %></span>
									<span class="time">ALL DAY</span>
								</time>
								<img alt="<%= event.name %>" src="<%= event.image_url %>"/>
								<div class="info">
									<h2 class="title"><%= event.name %></h2>
									<p class="desc">Début à <% if (event.start_time.getHours() == 0) { %>0<% } %><%= event.start_time.getHours() %>:
										<% if (event.start_time.getMinutes() == 0) { %>0<% } %><%= event.start_time.getMinutes() %>
										<% if (event.end_time != null) { %>
												Fin à <%= event.end_time.getHours() %>:
											   	<% if (event.end_time.getMinutes() == 0) { %>0<% } %><%= event.end_time.getMinutes() %>
										<% } %>
									</p>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- feed list -->
	<div class="col-md-6" style="padding-right:20pt;">
		<div class="container">
			<div class="panel-body">
				<div class="ibox-content">
					<div class="feed-activity-list">
                        <% feeds.forEach(function (feed) { %>
						<div class="feed-element">
							<a href="#" class="pull-left">
								<img alt="image" class="img-circle" src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/23755485_1724939187547448_3569921464217410590_n.png?oh=ea98ee67c9b69c43cd6b59414cd718d8&oe=5AF937D3">
							</a>							
							<div class="media-body ">
								<% var current_date = new Date() %>
								<% var diff = current_date - feed.created_time.getTime() %>
								<small class="pull-right"><%= Math.round(diff / (1000 * 60 * 60 * 24)) %> days ago</small>
								
								<% if (feed.story) { %>
									<strong><%= feed.story %></strong>
								<% } %>
								<br>
								<small class="text-muted"><% if (feed.created_time.getHours() == 0) { %>0<% } %><%= feed.created_time.getHours() %>:
									<% if (feed.created_time.getMinutes() == 0) { %>0<% } %><%= feed.created_time.getMinutes() %>
								</small>
								<div class="well">
									<%= feed.message  %>
								</div>
							</div>
						</div>
                        <% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
